*.ncb
*.suo
Obj


script-settings.json
__pycache__


locale-project/ModText.aps
locale-project/.vs
locale-project/Debug
locale-project/Release
locale-project/Locale.vcxproj.user
locale-project/Locale.vcxproj.filters
Locale/


**/*.tga
**/*.rcf
**/*.spt
**/*.jpg
**/*.sgb
**/*.sga
**/*.sgm
**/*.dlg
**/*.trg
**/*.na
**/*.luc
**/*.bmp
**/*.scb
**/*.ebp
**/*.army
**/*.scr
**/*.lsc
**/*.events
ModExcludingData.zip
ModIncludingData.zip
LuasOnly.zip
