*.ncb
*.suo

script-settings.json
__pycache__

locale-project/ModText.aps
locale-project/.vs
locale-project/Debug
locale-project/Release
locale-project/Locale.vcxproj.user
locale-project/Locale.vcxproj.filters
Locale/

Obj
